<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>182751203691-l1t2vs0hujvuob95m0ogqrdt6punc9tm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.182751203691-l1t2vs0hujvuob95m0ogqrdt6punc9tm</string>
	<key>API_KEY</key>
	<string>AIzaSyAq3ci7Go0NWVJMx1OOyEHkiob2kvbNOAk</string>
	<key>GCM_SENDER_ID</key>
	<string>182751203691</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>UTCS.BashGate</string>
	<key>PROJECT_ID</key>
	<string>cs329e-finalproject-bashgate</string>
	<key>STORAGE_BUCKET</key>
	<string>cs329e-finalproject-bashgate.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:182751203691:ios:8a37f59c137073951bfc2e</string>
</dict>
</plist>